@page
@model Mission11_autdel.Pages.PurchaseCompletedModel
@{
}

<!-- Purchase success page -->
<div class="text-center">
    <h2>Thanks for your order!</h2><br />
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>